.card {
    display: inline-table;
    overflow: hidden;
    margin: 10px;
    border-radius: 6px;
    background-color: lightgray;
    height: 200px;
    width: 200px;
  }
  
  .card a {
    color: blue;
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
  }
  
  .card footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
  }

  .clicked {
    color: green;
  }

  .favorited {
    color: yellow;
  }

  .liked {
    color: white;
  }