
.content-wrapper {
    height: calc(100vh - 65px);
    min-width: auto;
    display: block;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    background-color: #088ad1;
    margin-top: 55px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
  }