.sidebar {
    position: absolute;
    top: 55px;
    left: 5px;
    height: calc(100% - 65px);
    width: 200px;
    border-radius: 6px;
    border-right: 1px solid black;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    background-color: white;
    overflow: hidden;
  }
  
  .menu-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    padding-left: 10px;
    height: calc(100% - 60px);
  }
  .menu {
    height: 100%;
  }
  
  .menu-parent, .menu-coparent {
    font-weight: bold;
  }
  
  .menu-child {
    font-style: italic;
  }
  
  .search-box {
    padding: 2px;
  }