.sidebar {
    position: absolute;
    top: 55px;
    left: 5px;
    height: calc(100% - 65px);
    width: 200px;
    border-radius: 6px;
    border-right: 1px solid black;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    background-color: white;
    overflow: hidden;
}

.menu-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
    padding-left: 10px;
    height: calc(100% - 60px);
}
.menu {
    height: 100%;
}

.search-box {
    padding: 2px;
}

.content-wrapper {
    height: calc(100vh - 65px);
    min-width: 100%;
    display: block;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
    background-color: #088ad1;
    overflow: scroll;
    padding: 5px 5px 10px 10px;
    margin-top: 55px;
    text-align: center;
}

/* .search-container {
    margin-top: 55px;
    border-bottom: 1px solid black;
} */

.navbar {
    background-color: black;
}

.navbar-start a {
    color: white;
    font-weight: bold;
}

.navbar-end a {
    color: #088ad1 ;
}

.menu-parent, .menu-coparent {
    font-weight: bold;
}

.menu-child {
    font-style: italic;
}

.card {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 6px;
}

.card p {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
}

.card footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
}